Origin: XBian
Package: xbian-package-autosub
Version: 1.0
Section: net
Priority: optional
Architecture: armhf
Depends: xbian-update, python-cheetah
Maintainer: sjengfred <sjengfred@home.nl>
Description: Auto-Sub 0.5.7 beta compiled, patched and configured for XBian
