Origin: XBian
Package: xbian-package-autosub
Version: 0.5.8
Section: net
Priority: optional
Architecture: armhf
Depends: xbian-update, python-cheetah
Maintainer: sjengfred <sjengfred@home.nl>
Description: Auto-Sub 0.5.8 alpha compiled, patched and configured for XBian
